<!DOCTYPE html>
<html lang="es" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Downloader</title>
</head>
<body class="h-full flex items-center justify-center bg-gradient-to-tr from-blue-100 to-white">
    <div id="notification-bar" class="fixed top-0 left-0 w-full z-50"></div>
    <div class="w-full max-w-2xl mx-auto p-6">
        <div class="relative">
            <input type="search" id="urlInput" autofocus placeholder="Pega la URL del video aquí" class="w-full px-4 py-3 pr-[84px] rounded-lg shadow-md border-gray-300 focus:border-blue-600 focus:outline-2 focus:outline-offset-[-1px] focus:outline-solid focus:outline-blue-600">
            <div class="absolute right-2 top-1/2 transform -translate-y-1/2 flex">
                <button type="button" id="pasteBtn" title="Pegar" class="p-2 text-gray-500 hover:text-gray-700 transition-colors duration-200">
                    <i data-lucide="clipboard" class="h-5 w-5"></i>
                </button>
                <button type="button" id="searchBtn" title="Buscar" class="p-2 text-blue-500 hover:text-blue-700 transition-colors duration-200">
                    <i data-lucide="search" class="h-5 w-5"></i>
                </button>
            </div>
        </div>
        <div id="videoInfo" class="mt-8"></div>
    </div>

    <script nonce="<%= nonce %>" type="text/javascript" charset="utf-8" src="https://cdn.tailwindcss.com"></script>
    <script nonce="<%= nonce %>" type="text/javascript" charset="utf-8" src="https://unpkg.com/lucide@0.474.0"></script>
    <script nonce="<%= nonce %>" type="text/javascript" charset="utf-8">
        lucide.createIcons();
    </script>
    <script nonce="<%= nonce %>" type="text/javascript" charset="utf-8" src="static/js/notification.js"></script>
    <script nonce="<%= nonce %>" type="text/javascript"charset="utf-8" src="static/js/index.js"></script>
</body>
</html>
